<?xml version="1.0"?>
<!--
/**
 * Magenable
 *
 * @category    Magenable
 * @package     Magenable_TopBarNotification
 * @copyright   Copyright (c) Magenable (https://magenable.com.au/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magenable_Base::magenable">
                    <resource id="Magenable_TopbarNotification::TopbarNotification" title="Top Bar Notification"
                              sortOrder="10">
                        <resource id="Magenable_TopbarNotification::config" title="Configuration" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
