<?xml version="1.0"?>
<!--
/**
 * Magenable
 *
 * @category    Magenable
 * @package     Magenable_TopBarNotification
 * @copyright   Copyright (c) Magenable (https://magenable.com.au/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <topbar_notification>
            <general>
                <enabled>1</enabled>
            </general>
            <design>
                <html_content>Notification html content example</html_content>
                <text>Notification text example</text>
                <font_size>18</font_size>
                <bg_color>#fffffff</bg_color>
                <text_color>#000000</text_color>
            </design>
        </topbar_notification>
    </default>
</config>
