<?xml version="1.0"?>
<!--
/**
 * Magenable
 *
 * @category    Magenable
 * @package     Magenable_TopBarNotification
 * @copyright   Copyright (c) Magenable (https://magenable.com.au/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="top_bar_notification" frontName="top_bar_notification">
            <module name="Magenable_TopBarNotification"/>
        </route>
    </router>
</config>
